{% assign is_ru = false %}
{% if request.path contains '/ru' %}
  {% assign is_ru = true %}
{% endif %}

{% if is_ru %}
  {% assign target_path = request.path | remove_first: '/ru' %}
  {% if target_path == '' %}
    {% assign target_path = '/' %}
  {% endif %}
  <a class="site-header-lang" href="{{ target_path }}" aria-label="Switch to German">
    <img src="https://flagcdn.com/w40/de.png" alt="DE">
  </a>
{% else %}
  {% if request.path == '/' %}
    {% assign target_path = '/ru' %}
  {% else %}
    {% assign target_path = '/ru' | append: request.path %}
  {% endif %}
  <a class="site-header-lang" href="{{ target_path }}" aria-label="Switch to Russian">
    <img src="https://flagcdn.com/w40/ru.png" alt="RU">
  </a>
{% endif %}
