{% assign current = request.locale.iso_code %}

<div class="site-header-lang">
  {% if current == 'ru' %}
    <a href="/localization?locale=de" aria-label="Deutsch">
      <img
        src="https://cdn.shopify.com/s/files/1/0963/6380/7052/files/lang-de.png"
        alt="DE">
    </a>
  {% else %}
    <a href="/localization?locale=ru" aria-label="Русский">
      <img
        src="https://cdn.shopify.com/s/files/1/0963/6380/7052/files/lang-ru.png"
        alt="RU">
    </a>
  {% endif %}
</div>
