{% assign host = request.host %}

{% comment %}
Определяем базовый домен БЕЗ языка
{% endcomment %}
{% if host contains '.de' %}
  {% assign base = 'https://ilovesnacks.de' %}
{% elsif host contains '.lv' %}
  {% assign base = 'https://ilovesnacks.lv' %}
{% elsif host contains '.lt' %}
  {% assign base = 'https://ilovesnacks.lt' %}
{% elsif host contains '.ee' %}
  {% assign base = 'https://ilovesnacks.ee' %}
{% else %}
  {% assign base = 'https://ilovesnacks.de' %}
{% endif %}

<div class="site-header-lang">
  {% if request.path contains '/ru' %}
    <a href="{{ base }}">
      <img src="https://cdn.shopify.com/s/files/1/0963/6380/7052/files/lang-ru.png?v=1766262164" alt="RU">
    </a>
  {% else %}
    <a href="{{ base }}/ru">
      <img src="
        {% if host contains '.de' %}
          https://cdn.shopify.com/s/files/1/0963/6380/7052/files/lang-de.png?v=1766262164
        {% elsif host contains '.lv' %}
          https://cdn.shopify.com/s/files/1/0963/6380/7052/files/lang-lv.png?v=1766262164
        {% elsif host contains '.lt' %}
          https://cdn.shopify.com/s/files/1/0963/6380/7052/files/lang-lt.png?v=1766262165
        {% elsif host contains '.ee' %}
          https://cdn.shopify.com/s/files/1/0963/6380/7052/files/lang-ee.png?v=1766262164
        {% else %}
          https://cdn.shopify.com/s/files/1/0963/6380/7052/files/lang-en.png?v=1766262164
        {% endif %}
      " alt="LANG">
    </a>
  {% endif %}
</div>
