{% assign host = request.host %}

{% if host contains '.de' %}
  {% assign base = 'https://ilovesnacks.de' %}
{% elsif host contains '.lv' %}
  {% assign base = 'https://ilovesnacks.lv' %}
{% elsif host contains '.lt' %}
  {% assign base = 'https://ilovesnacks.lt' %}
{% elsif host contains '.ee' %}
  {% assign base = 'https://ilovesnacks.ee' %}
{% else %}
  {% assign base = 'https://ilovesnacks.de' %}
{% endif %}

<div class="lang-switcher">
  {% if request.path contains '/ru' %}
    <a href="{{ base }}">
      <img src="{{ 'lang-de.png' | asset_url }}" alt="DE">
    </a>
  {% else %}
    <a href="{{ base }}/ru">
      <img src="{{ 'lang-ru.png' | asset_url }}" alt="RU">
    </a>
  {% endif %}
</div>
