<div class="site-header-right">

  {% render 'site-header-actions' %}

  <div class="site-header-lang">
    {% render 'language-switcher' %}
  </div>

  <div class="site-header-cart">
    <a class="site-header-cart--button" href="{{ routes.cart_url }}">
      <span
        class="site-header-cart--count {% if cart.item_count > 0 %}visible{% endif %}"
        data-header-cart-count="{% if cart.item_count > 0 %}{{ cart.item_count }}{% endif %}">
      </span>

      <span class="site-header-cart-icon site-header-cart-icon--svg">
        {% if section.settings.cart_icon == 'icon-bag' %}
          {% render 'icon-library', id: 'icon-bag' %}
        {% else %}
          {% render 'icon-library', id: 'icon-cart' %}
        {% endif %}
      </span>

      <span class="visually-hidden">{{ 'general.accessibility.cart' | t }}</span>
    </a>
  </div>

</div>
