<div class="site-header-actions">

  {% if shop.customer_accounts_enabled %}
    <a
      class="site-header-actions__account"
      href="{{ routes.account_url }}"
      aria-label="{{ 'general.accessibility.account' | t }}"
    >
      {% render 'icon-library', id: 'icon-account' %}
    </a>
  {% endif %}

</div>
